/* stylelint-disable declaration-no-important */

// =============================================================================
// :: Margin - top
// =============================================================================
.u-margin-top-xs {
	margin-top: .5rem !important;
}

.u-margin-top {
	margin-top: 1rem !important;
}

.u-margin-top-lg {
	margin-top: 1.5rem !important;
}

.u-margin-right-xs {
	margin-right: .5rem !important;
}

.u-margin-right {
	margin-right: 1rem !important;
}

.u-margin-right-lg {
	margin-right: 1.5rem !important;
}

.u-margin-bottom-xs {
	margin-bottom: .5rem !important;
}

.u-margin-bottom {
	margin-bottom: 1rem !important;
}

.u-margin-bottom-lg {
	margin-bottom: 1.5rem !important;
}

.u-margin-left-xs {
	margin-left: .5rem !important;
}

.u-margin-left {
	margin-left: 1rem !important;
}

.u-margin-left-lg {
	margin-left: 1.5rem !important;
}
