/* stylelint-disable declaration-no-important */

// =============================================================================
// :: Padding - top
// =============================================================================
.u-padding-top-xs {
	padding-top: .5rem !important;
}

.u-padding-top {
	padding-top: 1rem !important;
}

.u-padding-top-lg {
	padding-top: 1.5rem !important;
}

.u-padding-right-xs {
	padding-right: .5rem !important;
}

.u-padding-right {
	padding-right: 1rem !important;
}

.u-padding-right-lg {
	padding-right: 1.5rem !important;
}

.u-padding-bottom-xs {
	padding-bottom: .5rem !important;
}

.u-padding-bottom {
	padding-bottom: 1rem !important;
}

.u-padding-bottom-lg {
	padding-bottom: 1.5rem !important;
}

.u-padding-left-xs {
	padding-left: .5rem !important;
}

.u-padding-left {
	padding-left: 1rem !important;
}

.u-padding-left-lg {
	padding-left: 1.5rem !important;
}
