// =============================================================================
// :: Layout
// =============================================================================
/**
 * This file contains any layout and component options that should be globally
 * defined. These values help define the general layout and structure.
 */

// =============================================================================
// :: Container dimensions
// =============================================================================
$container-width-base: 128rem;

// =============================================================================
// :: Border width
// =============================================================================
$border-width-1x-large: 0.2rem;
$border-width-base: 0.1rem;

// =============================================================================
// :: Box shadow
// =============================================================================
$box-shadow-base: rgba($box-shadow-color-base, 0.1) 0 0.2rem 0.3rem;
$box-shadow-expanded:
	0 1.4px 3.7px -8px rgba(0, 0, 0, 0.031),
	0 3.2px 9.5px -8px rgba(0, 0, 0, 0.044),
	0 6px 19.3px -8px rgba(0, 0, 0, 0.056),
	0 11.4px 39.8px -8px rgba(0, 0, 0, 0.069),
	0 30px 109px -8px rgba(0, 0, 0, 0.1);


// =============================================================================
// :: Animations
// =============================================================================
$animation-base: 0.2s ease-in-out;

// =============================================================================
// :: Table settings
// =============================================================================
$cell-height-base: 3rem;
$cell-spacing-base: 2rem;
