import { Component, OnInit } from '@angular/core';

import { ContextService } from '../../services/context.service';

@Component({
  selector: 'sg-navigation',
  templateUrl: './navigation.component.html',
  styleUrls: ['./navigation.component.scss']
})
export class NavigationComponent implements OnInit {

  constructor(
    public context: ContextService,
  ) { }

  ngOnInit() {
  }

  public toggleSidebar(): void {
    this.context.toggleSidebar();
  }
}
