// =============================================================================
// :: Heading
// =============================================================================
/**
 * Heading styles defined to give any component the possibility to extend from
 * a certain style. When an element uses the same styling as a heading, this
 * does not mean it is a H1-H6.
 */

// =============================================================================
// :: H1
// =============================================================================
@mixin extend-h1-base() {
	font-family: $font-family-primary;
	font-size: $font-size-5x-large;
	font-weight: $font-weight-extrablack;
	line-height: $line-height-2x-large;
}

// =============================================================================
// :: H1 - small
// =============================================================================
@mixin extend-h1-small() {
	font-family: $font-family-primary;
	font-size: $font-size-4x-large;
	font-weight: $font-weight-extrablack;
	line-height: $line-height-1x-large;
}

// =============================================================================
// :: H2
// =============================================================================
@mixin extend-h2-base() {
	font-family: $font-family-secondary;
	font-size: $font-size-2x-large;
	font-weight: $font-weight-bold;
	line-height: $line-height-1x-large;
}

// =============================================================================
// :: H3
// =============================================================================
@mixin extend-h3-base() {
	font-family: $font-family-secondary;
	font-size: $font-size-base;
	font-weight: $font-weight-bold;
	line-height: $line-height-base;
}

// =============================================================================
// :: H4
// =============================================================================
@mixin extend-h4-base() {
	font-family: $font-family-secondary;
	font-size: $font-size-base;
	font-weight: $font-weight-bold;
	line-height: $line-height-base;
}

// =============================================================================
// :: H5
// =============================================================================
// @mixin extend-h5-base() {}

// =============================================================================
// :: H6
// =============================================================================
// @mixin extend-h6-base() {}
